*{
    margin:0;
    padding: 0;
}

body{
    background:linear-gradient(rgb(167, 194, 170),rgb(177, 222, 232));
    height:100vh;
    font-family: system-ui;
}

a{
   
    color:white;
    text-decoration: none;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    width: 100%;
    
}
header.logo{
    font-size:30px;
    text-transform: uppercase;

}
header ul{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style-type:none;
    


}
header ul li{
    margin-right:30px;
}

header ul li a{
    display:inline-block;
    padding: 6px 15px;
    border-radius: 20;
    text-decoration: none;
    
}
header ul li a:hover, 
header ul li a.active
{
    background:#fff ;
    color:rgb(10, 172, 231);

}



.inline{
  

    display: inline-block;
    margin: right 25px;;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    color:#f6f3f3;
    text-decoration: none;
    

   
    border-radius: 40px / 25px; 

}


.nablussumud{
    height:80px ;
    width: auto;

}
.logo{
    color:#f6f3f3;
    font-family: sans-serif;
    font-size: 48px;
    font-weight:  bold;
    margin:0;
}
.container{
    display:flex;
    align-items: center;
    gap:15px;
    background-color:#aebfb2 ;
    padding: 20px;
}
.container2 {
    display: flex;
    justify-content: center; /* توسيط الكروت أفقياً */
    gap: 20px; /* المسافة بين الكروت */
    flex-wrap: wrap; /* الانتقال للسطر التالي إذا ضاقت المساحة */
    padding: 40px;
  }

  .card {
    background-color: #ffffff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
  }
  p{
    padding-left: 2%;
  }
  