
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    background: none; 
    height: 100vh;
    font-family: system-ui;
}



.nablusimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url(NAO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; 
}

.nablusimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 2; 
}



.container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e0d372; 
    padding: 8px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
}

.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #94d5e6;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header ul li {
    margin-right: 30px;
}



a {
    color: white;  
    text-decoration: none;
}


.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}


header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
}


.title-section {
    clear: both; 
    text-align: right; 
    margin-top: 30px; 
    padding-right: 2%; 
}

.title-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin: 0;
    
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    background-color: #ffffff;
    border: 5px solid #ccc;
    color: rgb(10, 172, 231);
    border-color: #e0d372;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
p{
    color: rgb(10, 172, 231);
   padding-left: 2%;

}
