.inline{

    display: inline-block;
    margin-left:20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    color:#444;

    background-color :#e9ecef; 
    border-radius: 40px / 25px;

    box-shadow:0 1px 3px rgba(0,0,0, 0.1);
    

}
input{
    transition: .3s ease;
}
input:focus {
    outline: 4px solid 
    rgba(30,109,255,0.7);

}

