
* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box; 
}

body {
  
    color: #084251;
    height: 100vh;
    font-family: system-ui;
    
}


a {
    color: white;
    text-decoration: none;
}




.container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e0d372;
    padding: 8px 20px; 
    position: relative;
    z-index: 10;
    width: 100%;
}


.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
   
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 600;
   
    white-space: nowrap;
    
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}


.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    background-color: #ffffff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    border: 5px solid #ccc;
     color: rgb(10, 172, 231);
    border-color: #e0d372;
    text-align: center;
}
p {
    padding-left: 2%;

}


* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box; 
}

body {
    background-color:#eff0b9;
    height: 100vh;
    font-family: system-ui;
}


a {
    color: white;
    text-decoration: none;
}





.container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e0d372;
    padding: 8px 20px; 
    position: relative;
    z-index: 10;
    width: 100%;
}
.nablussumud {
   
    height: 50px; 
    width: auto;
}
.logo {
    color: #f6f3f3;
    font-family: sans-serif;

    font-size: 32px; 
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.logo a {
    color: inherit;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0; 
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color:#084251;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header ul li {
    margin-right: 30px;
}

.inline {
    display: block; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
  
    border-radius: 20px; 
}


header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: rgb(10, 172, 231);
}


.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    background-color: #ffffff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    border: 5px solid #ccc;
     color: rgb(10, 172, 231);
    border-color: #e0d372;
    text-align: center;
}
p {
    padding-left: 2%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}




