
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    
    height: 100vh;
    font-family: system-ui;
     background-color: #f0efb7;
}
a {
    color:white;
    text-decoration:non;
}



.nablusimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url(NAO.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; 
}

.nablusimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 2; 
}



.container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e0d372; 
    padding: 8px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
}

.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    

    
    margin-right: 25px; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}

.title-section {
    clear: both; 
    text-align: right; 
    margin-top: 30px; 
    padding-right: 2%; 
}

.title-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin: 0;
    
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    background-color: #ffffff;
    border: 5px solid #ccc;
    color: rgb(10, 172, 231);
    border-color: #e0d372;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
p{
   color: #000;
   padding-left: 2%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
.cards-container1{
    display: grid;
    grid-template-columns: 1fr;
    gap:24px;
    margin-bottom: 40px;
}
@media (min-width:768px){
    .cards-container{
        grid-template-columns: repeat(4,1fr);

    }
}
.first-card,.second-card,.third-card,{
    background-color: white;
    padding:24px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgb(0, 0,0,0.1),0 2px 4px -2px rgb(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    border-left: 4px solid transparent;

}
.first-card:hover,.second-card:hover,.third-card:hover,{
    transform: translate(-5px);
}
.first-card{
    border-left-color: #f97316;

}
.time,.NO-of-sections,.city-name,.percentage-of-the-info-integrity{
    font-size: 36px;
    font-weight: 800;
}
.time{
    color: orange;

}
.explore{
    color:grey;

}
.from-time{
    font-size: 14px;
    color:#9ca3af;
}
.second-card{
    border-left-color:green;

}
.NO-of-sections{
    color:green;

}
.title-of-card{
    color: grey;
    margin-top: 40px;

}
.names-of-dimensions{
    font-size: 14px;
    color: #8264e2;
    font-weight: 500;
}
.third-card{
    border-left-color:#e0d372 ;
    
}
.city-name{
    color:blue;

}
.Targeted-City{
    color:grey;
    margin-top: 4px;

}
.city-position{
    font-size: 14px;
    color:#9ca3af
}

.percentage-of-the-info-integrity{
    color:#e0d372;

}
.w1{
    color:grey;
    margin-top: 4px;

}
.w2{
    font-size: 14px;
    color:#9ca3af,
}
