
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Poppins', sans-serif;
}



.nablusimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    
    background-image: url(NAO.png );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 1; 
}


.nablusimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
   
    background-color:rgba(0, 0, 0, 0.4); 
    z-index: 2; 
}


.container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e4ac06; 
    
    padding: 10px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
    background-position: center;
    
    
    
    justify-content: left;
    flex-wrap: wrap;

}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        text-align: center;
        
    }
}

.container2{
   width:100%;
   min-height:100vh;
   padding:5%;
   background-image: url(NAO.png);
   background-position: center;
   background-size: cover;
   display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
}
.welcome-text {
    margin-bottom: 50px;
    font-size: clamp(28px,8vw,50px);
    color: #f0efb7;
    margin-bottom: 30px;
    padding: 0 10px;
    
}


.search-bar{
    display:flex;
    width:90%;
    margin:0 auto;
    max-width:700px;
    background: rgba(136, 217, 223, 0.448);
    align-items: center;
    border-radius: 60px;
    padding:10px 20px;
    backdrop-filter: blur(4px) saturate(188%);
    
}

@media(min-width:601px) and (max-width:1024px){
    .welcome-text{
        font-size: 40px;
    }
}
::placeholder{
    color:#084251;
}
.container2 img{
    width: 25px;
    height: 25px;
 
}
.search-bar button img{
    width:25px;

}
.search-bar button{
    border:0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #f0efb7;
    cursor: pointer;
}
@media (max-width:600px){
    .container{
        justify-content: center;
    }
}
.search-bar input{
    background: transparent;
    flex:1;
    border:none;
    outline:none;
    padding:24px 20px;
    font-size: 20px;
    color:#0fe6cc;
}


.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    

    
    margin-right: 25px; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}





    
    
