
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}


body {
  
    background: white; 
    
    min-height: 100vh;
    font-family: system-ui;
    background-color: #f0efb7;

}



.container {
    display: flex;
    align-items: center;
    gap: 15px;
    
    
    background-color:#e0d372; 
    
    padding: 8px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
}


.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    

    
    margin-right: 25px; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-title{
    color:white ;
    background-color: #318498;
    text-align: center;
    padding: 20px;
    
}
.submain-title{
    padding:20px 0 10px 20px;
    color:black;

}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f3ecb7;
}
@media (min-width:768px){
    .cards-container{
        grid-template-columns: repeat(4,1fr);

    }
}

.first-card,.second-card,.third-card,.forth-card{
    flex:1;
    background-color: white;
    border:1px solid#e5e7eb;
    padding:20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px -1px rgb(0, 0,0,0.05);
    transition: transform 0.3s ease-in-out;
    border-left: 4px solid transparent;
    min-height: 180px;

}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.first-card:hover,.second-card:hover,.third-card:hover,.forth-card:hover{
    transform: translate(-5px);
}
.first-card{
    border-left-color: #f97316;
}
.second-card{border-left-color: #10b981;}
.third-card{border-left-color: #3b82f6;}
.forth-card{border-left-color: #e8160b;}
.card-title{
    font-size: 1.1rem;
   
    color:#4b5563;
    font-weight: 600;
} 
.card-sub-title{
    font-size: 0.85rem;
    color:#9ca3af;
}

.icon{
    font-size: 1.5rem;
}
.card-data{
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 5px;
}

.main-score{
    font-size: 2rem;
    font-weight: 800;
    color:#111827;

}
.total-score{
    color:#9ca3af;
    font-size: 1.1rem;

}


.stat-positive{
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 10px;
    color: green;}
.stat-negative{
    font-size: 0.95rem;
    font-weight: 600;
    margin-left: 10px;color:red};

.vs-text{
    font-size: 0.8rem;
    color:#9ca3af;
}

.container-chart{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:200px;
 
}
.chart{
  padding:2rem;
  border:1px solid #f49131;
  border-radius: 1rem;
  background: white;
  box-shadow:0 0 16px rgba(0,0,0,0.8)


}
