
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}


body {
  
    background: none; 
    height: 100vh;
    font-family: system-ui;
    background-color: #f0efb7;
    background-attachment: fixed;
}






.container {
    display: flex;
    align-items: center;
    gap: 15px;
    
    
    background-color: #e0d372; 
    background-attachment: fixed;
    
    padding: 8px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
}


.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    

    
    margin-right: 25px; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}
.container2 {
   
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    
    text-align:left;
    background-color: #ffffff;
    border: 5px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height:auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    
    border: 5px solid #ccc;
    color: #065366;
    border-color: #e0d372;
    
}
