
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}


body {
  
    background: none; 
    height: 100vh;
    font-family: system-ui;
   background-color: #f0efb7;
   background-attachment: fixed;

}




.container {
    display: flex;
    align-items: center;
    gap: 15px;
    
    
    background-color:#e0d372; 
    background-attachment: fixed;
    
    padding: 8px 20px;
    position: relative;
    z-index: 10; 
    width: 100%;
}


.nablussumud {
    height: 50px; 
    width: auto;
}

.logo {
    color: #f6f3f3;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.logo a {
    color: inherit; 
}



header {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 0; 
    width: 100%;
    box-sizing: border-box;
    background-color: #065366;
    flex-wrap: wrap;

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
    gap: 10px;
        
    }
}

header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0;
    gap: 10px;
    list-style-type: none;
}

header ul li {
    margin-right: 0;
}


a {
    color: white;  
    text-decoration: none;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    

    
    margin-right: 25px; 
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #f6f3f3;
    text-decoration: none;
    border-radius: 20px; 
}

header ul li a.active,
header ul li a:hover {
    background: #fff;
    color: rgb(10, 172, 231);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-title{
    color:white ;
    background-color: #318498;
    text-align: center;
    padding: 20px;
    
}
.submain-title{
    padding:20px 0 10px 20px;
    color:black;

}
.charts-container {
    display: flex;             
    flex-direction: row;      
    justify-content: center;   
    align-items: flex-start;   
    gap: 250px;                 
    flex-wrap: wrap;           
}
.myChart{
   width:100%; 
   max-width:400px; 
   height: fit-content; 
}
.chart-card {
    margin-top: 50px;
    background-color: #f0f8ff; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    width: 90%;
    max-width: 450px;
    border-left: 8px solid #ff6600; 
}
.chart-card2 {
    
    margin-top: 50px;
    background-color: #f0f8ff; 
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    width: 90%;
    max-width: 450px;
    border-left: 8px solid #ff6600; 
}
